@import url("https://fonts.googleapis.com/css2?family=Judson:ital@1&family=Khula:wght@400;600&family=Rubik+Broken+Fax&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Khalu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  margin: 0;
  background-color: #f4e3b2;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-family: "Judson", serif;
}

.NavbarComponent h1 {
  font-family: "Rubik Broken Fax", sans-serif;
}

button {
  font-family: "Khalu", sans-serif;
}
