.HomeContainer {
  width: 80vw;
  margin: auto;
  a {
    button {
      cursor: pointer;
      margin-top: 2rem;
      background-color: #ffffff50;
      border: 4px #050517 solid;
      border-radius: 50px;
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
    }
    button:hover {
      cursor: pointer;
      box-shadow:
        7px 7px 14px #ffffff50,
        -7px -7px 14px #ffffff50;
    }
  }
}
