.HomeContainer {
  width: 80vw;
  margin: auto;
  a {
    button {
      background-color: #f4e3b2;
      border-color: black;
      border-radius: 50px;
      padding: 1rem;
      font-weight: 600;
    }
  }
}
