.MCQComponent {
  border: 5px #708b75 solid;
  border-radius: 100px;
  background-color: #ffffff50;
  margin: 4rem 10rem;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    justify-self: center;
    button {
      width: 20rem;
      height: 4rem;
      font-size: 1.25rem;
      background: none;
      border: 4px #050517 solid;
      border-radius: 100px;
    }
    button:hover {
      cursor: pointer;
      box-shadow:
        7px 7px 14px #ffffff50,
        -7px -7px 14px #ffffff50;
    }
  }
}

.hidden {
  display: none;
}
