.ResultComponent {
  margin: 6rem 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  button {
    margin-top: 2rem;
    width: 20rem;
    height: 4rem;
    font-size: 1.25rem;
    background: none;
    border: 4px #050517 solid;
    border-radius: 100px;
    margin: 10px 0;
  }
  button:hover {
    cursor: pointer;
    box-shadow:
      7px 7px 14px #ffffff50,
      -7px -7px 14px #ffffff50;
  }
}
